{:aliases {:test {:extra-deps {} :extra-paths ["test"]}}
 :deps {nomnom/abracad {:mvn/version "0.5.2"
                        ;; abracad 0.5.2 ships avro 1.11.0 (CVE in jackson-
                        ;; databind 2.14.3) and snappy-java 1.1.8.4
                        ;; (CVE-2023-43642 etc); upgrade both explicitly
                        :exclusions [org.apache.avro/avro
                                     org.xerial.snappy/snappy-java]}
        org.apache.avro/avro {:mvn/version "1.12.1"
                              ;; avro 1.12.1 brings jackson-databind 2.14.3
                              ;; (CVE-2023-35116) and snappy-java <1.1.10
                              :exclusions [com.fasterxml.jackson.core/jackson-databind
                                           org.xerial.snappy/snappy-java]}
        ;; snappy-java <1.1.8.4 has CVE-2023-43642, CVE-2023-34453/4/5
        org.xerial.snappy/snappy-java {:mvn/version "1.1.10.8"}
        ;; jackson-databind 2.14.3 (from avro 1.11.5) has CVE-2023-35116
        com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.20.1"}
        deercreeklabs/lancaster {:mvn/version "0.12.2"}}
 :paths ["src"]}
