{:paths ["resources"]
 :deps {components/cli {:local/root "../../components/cli"}
        components/env {:local/root "../../components/env"}
        components/error {:local/root "../../components/error"}
        components/fdb {:local/root "../../components/fdb"}
        components/http-client {:local/root "../../components/http-client"}
        components/json {:local/root "../../components/json"}
        components/log {:local/root "../../components/log"}
        components/server {:local/root "../../components/server"}
        components/system {:local/root "../../components/system"}
        components/utility {:local/root "../../components/utility"}
        components/example-bookmark {:local/root
                                     "../../components/example-bookmark"}
        bases/example-api {:local/root "../../bases/example-api"}
        com.google.protobuf/protobuf-java {:mvn/version "3.25.8"}
        org.clojure/clojure {:mvn/version "1.12.4"}}
 :aliases
 {:test
  {:extra-deps
   {components/test-resources {:local/root "../../components/test-resources"}
    components/test-schema {:local/root "../../components/test-schema"}
    components/test-system {:local/root "../../components/test-system"}
    components/testcontainers {:local/root "../../components/testcontainers"}
    bases/external-test-runner {:local/root
                                "../../bases/external-test-runner"}}}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.12"}}
          :extra-deps {bases/build {:local/root "../../bases/build"}}
          :ns-default com.repldriven.mono.build.build
          :exec-args {:lib com.repldriven.mono/example-service
                      :main com.repldriven.mono.example-api.main}}}}
