{:paths ["src"]
 :deps {com.github.f4b6a3/uuid-creator {:mvn/version "6.1.1"}
        com.github.f4b6a3/ulid-creator {:mvn/version "5.2.3"}}
 :aliases {:test {:extra-paths ["test" "test-resources"]}}}
