{:aliases {:test {:extra-deps [] :extra-paths ["test" "test-resources"]}}
 :deps {aero/aero {:mvn/version "1.1.6"}
        clj-commons/clj-yaml {:mvn/version "1.0.30"}
        org.flatland/ordered {:mvn/version "1.15.12"}}
 :paths ["src"]}
