{:aliases {:test {:extra-deps {} :extra-paths ["test" "test-resources"]}}
 ;; Exclude bcprov-ext; vault-clj provides bcprov-jdk18on instead
 :deps {org.apache.pulsar/pulsar-client-all
        {:mvn/version "4.2.0" :exclusions [org.bouncycastle/bcprov-ext-jdk18on]}
        org.clojure/data.json {:mvn/version "2.5.2"}
        org.clojure/java.data {:mvn/version "1.4.120"}}
 :paths ["src"]}
