{:aliases {:test {:extra-deps {}
                     :extra-paths ["test" "test-resources"]}}
 :deps {metosin/reitit {:mvn/version "0.10.0"}
        ring-logger-timbre/ring-logger-timbre {:mvn/version "0.7.6"}
        info.sunng/ring-jetty9-adapter {:mvn/version "0.39.2"}
        ring/ring-json {:mvn/version "0.5.1"
                        :exclusions [cheshire/cheshire]}
        ;; Pin cheshire to 6.1.0: ring-json 0.5.1 ships 5.10.0 which brings
        ;; jackson-dataformat-cbor 2.10.2 (CVE-2020-28491, fixed in 2.11.4+)
        cheshire/cheshire {:mvn/version "6.1.0"}}
 :paths ["src"]}
