{:aliases {:test {:extra-deps {} :extra-paths ["test" "test-resources"]}}
 :deps {earth.adi/testcontainers-foundationdb {:mvn/version "1.1.0"}
        org.testcontainers/testcontainers {:mvn/version "2.0.4"}
        org.testcontainers/vault {:mvn/version "1.21.4"}
        org.testcontainers/hivemq {:mvn/version "1.21.4"}
        ;; Exclude thin clients; pulsar component uses pulsar-client-all
        org.testcontainers/pulsar {:mvn/version "1.21.4"
                                   :exclusions [org.apache.pulsar/pulsar-client
                                                org.apache.pulsar/pulsar-admin]}
        org.testcontainers/postgresql {:mvn/version "1.21.4"}}
 :paths ["src"]}
